*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    /* colors */
    --text-dark: #391400;
    --text-dark-accent: #EF6D58;
    --text-dark-gray: #391400;
    --text-light: #FFFFFF;
    --text-light-accent: #EF6D58;
    --text-light-gray: #FFFFFF;
    --primary-dark: #28293e;


    /* font-family */
    --font: "Epilogue";

    /* font-size */
    --h1: 72px;
    --h1-line-heihgt: 80px;
    --h1-letter-spacing: -2px;

    --extra-bold: 800;
    --bold: 700;

    --h2: 56px;
    --h2-line-heihgt: 64px;
    --h2-letter-spacing: -1px;

    --h3: 40px;
    --h3-line-heihgt: 48px;

    --h4: 24px;
    --h4-line-heihgt: 32px;

    --h5: 16px;
    --h5-line-heihgt: 32px;
    --h5-letter-spacing: 3px;

    --label: 12px;
    --label-line-height: auto;

    --text-big: 20px;
    --text-big-line-height: 32px;

    --text: 16px;
    --text-line-height: 32px;

    --text-small: 14px;
    --text-small-line-height: 24px;

}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}


/* BUTTONS */
.transparent{
    width: 138px;
    height: 48px;
    background: transparent;
    outline: 0;
    border: 1px solid grey;
    border-radius: 6px;
    color: var(--text-light);
    font-weight: var(--bold);
}






/* Header */
header{
    width: 100%;
    height: 880px;
    background-color: var(--primary-dark);
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    /* border: 1px solid grey;  */
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

#logo-img{
    transform: translate(-32px, 1px);
    width: 18px;
    height: 17px;
    margin-top: 16px;
    margin-left: -0.5px;
}

.nav-logo h4{
    font-size: var(--h4);
    line-height: var(--h4-line-heihgt);
    color: var(--text-light);
    padding-top: 15px;
    margin-left: -7px;
}

.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    display: flex;
    gap: 110px;
    padding-top: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--text-light);
    font-size: var(--text);
}

.navbar button{
    margin-top: 15px;
}

.navbar i{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    text-align: center;
    line-height: 30px;
    display: none;
}
.fa-bars{
    font-size: 16px;
    color: var(--text-light);
    border-radius: 6px;
}
